[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=%h/source/sh/spawn-alacritty.bash toolbox --daemon
Restart=on-failure
