".local/share/fonts/JetBrainsMono-Nerd.tar.xz":
  type: file
  url: "https://github.com/ryanoasis/nerd-fonts/releases/latest/download/JetBrainsMono.tar.xz"

".local/share/fonts/IosevkaTerm-Nerd.tar.xz":
  type: file
  url: "https://github.com/ryanoasis/nerd-fonts/releases/latest/download/IosevkaTerm.tar.xz"

".local/bin/jj":
  type: archive-file
  url: {{ gitHubLatestReleaseAssetURL "jj-vcs/jj" "jj-v*-x86_64-unknown-linux-musl.tar.gz" | quote }}
  path: ./jj
  executable: true

".local/bin/jj-fzf":
  type: file
  url: {{ gitHubLatestReleaseAssetURL "tim-janik/jj-fzf" "jj-fzf.sfx" | quote }}
  executable: true

".local/bin/fzf":
  type: archive-file
  url: {{ gitHubLatestReleaseAssetURL "junegunn/fzf" "fzf-*-linux_amd64.tar.gz" | quote }}
  path: fzf
  executable: true

".local/bin/delta":
  type: archive-file
  url: {{ gitHubLatestReleaseAssetURL "dandavison/delta" "delta-*-x86_64-unknown-linux-gnu.tar.gz" | quote }}
  stripComponents: 1
  path: delta
  executable: true
