key.txt.age

README.md

# Install from packages instead
.local/bin/fzf

{{ if eq .hosttype "desktop" "laptop" | not }}
**
!.config
!.config/git
!.config/git/*
!.config/tmux
!.config/tmux/*
!.config/fish
!.config/fish/conf.d
!.config/fish/conf.d/fix-ssh.fish
!.ssh
!.ssh/authorized_keys

{{ if eq .hosttype "uni" }}
!.local/bin/jj
!.local/bin/jj-fzf
!.local/bin/fzf
!.config/jj
!.config/jj/config.toml
!.config/helix
!.config/helix/config.toml
!.config/helix/languages.toml
{{ end }}

{{ end }}
