".local/share/fonts/JetBrainsMono-Nerd.tar.xz":
  type: file
  url: "https://github.com/ryanoasis/nerd-fonts/releases/latest/download/JetBrainsMono.tar.xz"
  refreshPediod: 672h

".local/share/fonts/IosevkaTerm-Nerd.tar.xz":
  type: file
  url: "https://github.com/ryanoasis/nerd-fonts/releases/latest/download/IosevkaTerm.tar.xz"
  refreshPediod: 672h
