key.txt.age

README.md

{{ if eq .hosttype "desktop" "laptop" | not }}
**
!.config
!.config/git
!.config/git/*
!.config/tmux
!.config/tmux/*
!.config/fish
!.config/fish/conf.d
!.config/fish/conf.d/fix-ssh.fish
!.ssh
!.ssh/authorized_keys

{{ if eq .hosttype "uni" }}
!.local/bin/jj
!.local/bin/jj-fzf
{{ end }}

{{ end }}
