disable_warning #true
repositories {
    // For very careful installation of new packages...
    volatile {
        description ...
        uri "https://cdn.aerynos.dev/stream/volatile/x86_64/stone.index"
        priority 0
    }
    unstable {
        description ...
        uri "https://cdn.aerynos.dev/stream/unstable/x86_64/stone.index"
        priority 10
    }
    // https://github.com/YaLTeR/aeryn-yalter-recipes
    local {
        description ...
        uri "file:///home/yalter/.cache/local_repo/x86_64/stone.index"
        priority 100
    }
}
packages {
    // Defaults from the GNOME installation, stripped down somewhat
    boulder
    firefox
    font-noto
    font-noto-cjk
    font-noto-emoji
    intel-microcode
    liberation-fonts-ttf
    linux-firmware
    linux-stable
    pkgset-aeryn-base
    pkgset-aeryn-base-desktop
    pkgset-aeryn-gnome-recommended
    pkgset-aeryn-utilities
    plymouth
    sof-firmware
    usbutils
    xfsprogs
    zram-generator-defaults

    // Essentials
    fish
    tmux
    git
    htop
    fzf
    gdb
    perf
    strace
    syncthing
    unzip
    vim
    neovim
    man-db
    wl-clipboard-rs
    ripgrep
    chezmoi
    rsync
    curl
    cmake
    meson
    ninja
    ccache
    mold
    clang-tools
    gettext
    gstreamer-plugins-base-tools
    networkmanager-openvpn
    networkmanager-openvpn-gnome
    ntfs-3g

    // Waiting for espeak-ng package
    // speech-dispatcher
    // speech-dispatcher-utils

    // Packaging
    build-essential

    // Various
    bubblewrap
    podman
    distrobox
    fastfetch
    sysprof
    lm_sensors
    ffmpeg
    mpv
    imagemagick
    git-lfs
    delta
    drm-info
    hyperfine
    font-awesome-ttf
    dejavu-fonts-ttf
    "binary(fuser)"

    // Compositors
    sway

    // Terminals
    alacritty
    foot

    // Wayland utils
    fuzzel
    waybar
    wlsunset
    hyprlock
    gamescope
    wf-recorder
    grim
    slurp
    wayland-utils

    // Apps
    resources
    keepassxc
    bazaar
    dconf-editor
    vscode-bin
    pavucontrol

    // Extras
    openssh-server
    jq
    fd
    helix
    gtk-4-demos
    libadwaita-demos
    dankmaterialshell
    matugen
    qalculate
    nodejs
    uv
    graphviz
    "pkgconfig(libadwaita-1)"
    "pkgconfig(dbus-1)"
    "pkgconfig(egl)"
    "pkgconfig(xkbcommon)"
    "pkgconfig(freetype2)"
    "pkgconfig(pugixml)"
    "pkgconfig(libcurl)"
    glibc-dbginfo
    glib2-dbginfo
    gtk-4-dbginfo
    libadwaita-dbginfo

    // Local repo
    xray-core
    v2raya
    niri-git
    gh
}
