binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    Super+Shift+S hotkey-overlay-title="Toggle Dark/Light Style" { spawn "set-theme"; }
    Super+Alt+L allow-when-locked=true hotkey-overlay-title="Lock the Screen" { spawn-sh "dms ipc call lock lock || hyprlock"; }
    Mod+D hotkey-overlay-title="Run an Application" { spawn "fuzzel"; }
    Mod+Shift+D hotkey-overlay-title="Run an Application" { spawn "dms" "ipc" "call" "spotlight" "toggle"; }
    Mod+N hotkey-overlay-title="Open File Manager" { spawn "nautilus"; }

    // Mod+Shift+C { spawn "sh" "-c" "t env DISPLAY=:0 xsel -ob | wl-copy"; }
    // Mod+Shift+V { spawn "sh" "-c" "wl-paste -n | t env DISPLAY=:0 xsel -ib"; }
    Super+Alt+S allow-when-locked=true hotkey-overlay-title=null { spawn-sh "pkill orca || exec orca"; }

    // Mod+T { spawn "sh" "-c" "alacritty msg create-window -e fish -C t || alacritty -e fish -C t"; }
    Mod+T hotkey-overlay-title="Open Terminal in the Toolbox" { spawn "~/source/sh/spawn-alacritty.bash" "toolbox"; }
    Mod+Shift+T hotkey-overlay-title="Open Terminal on the Host" { spawn "~/source/sh/spawn-alacritty.bash" "host"; }
    Mod+E hotkey-overlay-title="Open Neovide" { spawn "tb" "neovide"; }
    // Mod+Ctrl+T { spawn "spawn-alacritty.bash" "toolbox"; }
    Mod+Return { spawn "alacritty"; }
    // Mod+Shift+T { spawn "alacritty"; }
    // Mod+Ctrl+T { spawn "t" "alacritty"; }
    // Mod+Shift+T { spawn "sh" "-c" "alacritty msg create-window || alacritty"; }
    // Mod+Return { spawn "~/arst"; }
    // Mod+Return { do-screen-transition; }
    // Mod+T { spawn "flatpak" "run" "org.gnome.Ptyxis.Devel" "-s"; }
    // Mod+T { spawn "~/.local/bin/spawn-ptyxis.sh"; }
    // Mod+T { spawn "bash" "-c" "notify-send hello && exec alacritty"; }
    // Mod+T { spawn "kgx" "-e" "fish -C t"; }

    // Mod+W { spawn "sh" "-c" "t mpv --pause $(wl-paste)"; }
    Super+Alt+M     hotkey-overlay-title="Switch to 170 Hz" { spawn "~/source/sh/refresh.sh" "170"; }
    Super+Alt+Comma hotkey-overlay-title="Switch to 120 Hz" { spawn "~/source/sh/refresh.sh" "120"; }

    Super+Alt+O hotkey-overlay-title="Set Dynamic Cast Output" { set-dynamic-cast-monitor; }
    Super+Alt+W hotkey-overlay-title="Set Dynamic Cast Window" { set-dynamic-cast-window; }
    Super+Alt+P hotkey-overlay-title="Pick Dynamic Cast Window" { spawn "~/source/sh/pick-dynamic-cast-window.sh"; }
    Super+Alt+C hotkey-overlay-title="Clear Dynamic Cast Target" { clear-dynamic-cast-target; }

    XF86AudioRaiseVolume allow-when-locked=true repeat=false { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"; }
    XF86AudioLowerVolume allow-when-locked=true repeat=false { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"; }
    XF86AudioMute        allow-when-locked=true repeat=false { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute     allow-when-locked=true repeat=false { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }

    // XF86AudioRaiseVolume allow-when-locked=true repeat=false { spawn "~/source/rs/SwayOSD/build/src/swayosd-client" "--output-volume" "+10"; }
    // XF86AudioLowerVolume allow-when-locked=true repeat=false { spawn "~/source/rs/SwayOSD/build/src/swayosd-client" "--output-volume" "-10"; }
    // XF86AudioMute        allow-when-locked=true repeat=false { spawn "~/source/rs/SwayOSD/build/src/swayosd-client" "--output-volume" "mute-toggle"; }
    // XF86AudioMicMute     allow-when-locked=true repeat=false { spawn "~/source/rs/SwayOSD/build/src/swayosd-client" "--input-volume" "mute-toggle"; }

    // XF86MonBrightnessUp   allow-when-locked=true repeat=false { spawn "~/source/rs/SwayOSD/build/src/swayosd-client" "--brightness" "+10"; }
    // XF86MonBrightnessDown allow-when-locked=true repeat=false { spawn "~/source/rs/SwayOSD/build/src/swayosd-client" "--brightness" "-10"; }

    XF86MonBrightnessUp   allow-when-locked=true repeat=false { spawn-sh "dms ipc call brightness increment 10 '' || brightnessctl --class=backlight set +10%"; }
    XF86MonBrightnessDown allow-when-locked=true repeat=false { spawn-sh "dms ipc call brightness decrement 10 '' || brightnessctl --class=backlight set 10%-"; }

    Mod+O { toggle-overview; }

    Mod+Q { close-window; }
    Mod+BackSpace { close-window; }

    // Mod+Tab { focus-window-previous; }

    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-down; }
    Mod+K     { focus-window-up; }
    Mod+L     { focus-column-right; }
    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+Right { focus-column-right; }

    Mod+Ctrl+H     { move-column-left; }
    Mod+Ctrl+J     { move-window-down; }
    Mod+Ctrl+K     { move-window-up; }
    Mod+Ctrl+L     { move-column-right; }
    Mod+Ctrl+Left  { move-column-left; }
    Mod+Ctrl+Down  { move-window-down; }
    Mod+Ctrl+Up    { move-window-up; }
    Mod+Ctrl+Right { move-column-right; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }

    Mod+Shift+H     { focus-monitor-left; }
    Mod+Shift+J     { focus-monitor-down; }
    Mod+Shift+K     { focus-monitor-up; }
    Mod+Shift+L     { focus-monitor-right; }
    Mod+Shift+Left  { focus-monitor-left; }
    Mod+Shift+Down  { focus-monitor-down; }
    Mod+Shift+Up    { focus-monitor-up; }
    Mod+Shift+Right { focus-monitor-right; }

    Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }
    Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }

    Mod+Shift+Alt+H     { move-workspace-to-monitor-left; }
    Mod+Shift+Alt+J     { move-workspace-to-monitor-down; }
    Mod+Shift+Alt+K     { move-workspace-to-monitor-up; }
    Mod+Shift+Alt+L     { move-workspace-to-monitor-right; }
    Mod+Shift+Alt+Left  { move-workspace-to-monitor-left; }
    Mod+Shift+Alt+Down  { move-workspace-to-monitor-down; }
    Mod+Shift+Alt+Up    { move-workspace-to-monitor-up; }
    Mod+Shift+Alt+Right { move-workspace-to-monitor-right; }

    Mod+U              { focus-workspace-down; }
    Mod+I              { focus-workspace-up; }
    Mod+Page_Down      { focus-workspace-down; }
    Mod+Page_Up        { focus-workspace-up; }
    Mod+Ctrl+U         { move-column-to-workspace-down; }
    Mod+Ctrl+I         { move-column-to-workspace-up; }
    Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
    Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }

    Mod+WheelScrollDown            cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp              cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown       cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp         cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight           { focus-column-right; }
    Mod+WheelScrollLeft            { focus-column-left; }
    Mod+Ctrl+WheelScrollRight      { move-column-right; }
    Mod+Ctrl+WheelScrollLeft       { move-column-left; }

    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    Mod+TouchpadScrollUp   allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.02-"; }
    Mod+TouchpadScrollDown allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.02+"; }
    // Mod+TouchpadScrollLeft  { focus-column-left; }
    // Mod+TouchpadScrollRight { focus-column-right; }

    Mod+Shift+U         { move-workspace-down; }
    Mod+Shift+I         { move-workspace-up; }
    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up   { move-workspace-up; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }

    // Mod+Tab { focus-workspace-previous; }

    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }
    // Mod+Comma  { swap-window-left; }
    // Mod+Period { swap-window-right; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }
    // Mod+BracketLeft  { focus-column-or-monitor-left; }
    // Mod+BracketRight { focus-column-or-monitor-right; }
    // Mod+BracketLeft  { focus-window-or-monitor-up; }
    // Mod+BracketRight { focus-window-or-monitor-down; }

    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+Ctrl+F { expand-column-to-available-width; }
    Mod+Ctrl+Shift+F { toggle-windowed-fullscreen; }
    Mod+M { maximize-window-to-edges; }
    Mod+C { center-column; }
    Mod+Ctrl+C { center-visible-columns; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Ctrl+Minus { set-column-width "-1"; }
    Mod+Ctrl+Equal { set-column-width "+1"; }

    Mod+Shift+Minus      { set-window-height "-10%"; }
    Mod+Shift+Equal      { set-window-height "+10%"; }
    Mod+Shift+Ctrl+Minus { set-window-height "-1"; }
    Mod+Shift+Ctrl+Equal { set-window-height "+1"; }

    Mod+0            { set-column-width "960"; }
    Mod+Shift+0      { set-window-height "540"; }
    Mod+Alt+0        { set-column-width "1280"; }
    Mod+Shift+Alt+0  { set-window-height "720"; }
    Mod+Ctrl+0       { set-column-width "1920"; }
    Mod+Shift+Ctrl+0 { set-window-height "1080"; }

    Mod+Space       { switch-layout "next"; }
    Mod+Shift+Space { switch-layout "prev"; }

    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    Mod+W { toggle-column-tabbed-display; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }
    Shift+Print { spawn "t" "alacritty" "--class" "alacritty-recorder" "--command" "screen-recorder"; }

    Mod+P { screenshot; }

    Mod+Escape { toggle-keyboard-shortcuts-inhibit; }

    Mod+Shift+E { quit; }
    Ctrl+Alt+Delete { quit; }
    Mod+Shift+P { power-off-monitors; }

    Mod+Shift+Ctrl+T { toggle-debug-tint; }
    Mod+Shift+Ctrl+O { debug-toggle-opaque-regions; }
    Mod+Shift+Ctrl+D { debug-toggle-damage; }

    // Mod+Ctrl+MouseLeft { close-window; }
    // Mod+MouseMiddle    { maximize-column; }

    // Mod+MouseForward { focus-column-right; }
    // Mod+MouseBack { focus-column-left; }
}
