include "debug.kdl"
include "input.kdl"
include "outputs.kdl"
include "workspaces.kdl"
include "layout.kdl"
include "animations.kdl"
include "misc.kdl"
include "binds.kdl"

// include "c.kdl"
// include "config.kdl"
// include "../niri/config.kdl"
// include "colors.kdl"

// include "dms/layout.kdl"
// include "dms/colors.kdl"

include "decorations.kdl"
include "rules.kdl"
