debug {
    // dbus-interfaces-in-non-session-instances
    // wait-for-frame-completion-before-queueing
    // enable-overlay-planes
    // disable-cursor-plane
    // render-drm-device "/dev/dri/renderD129"
}

input {
    keyboard {
        xkb {
            layout "us,ru"
            variant "colemak_dh_ortho,"
            options "compose:ralt,ctrl:nocaps"
        }

        repeat-delay 500
        repeat-rate 30

        // track-layout "window"
    }

    touchpad {
        tap
        // dwt
        // dwtp
        natural-scroll
        accel-speed 0.2
        // accel-profile "flat"
        // tap-button-map "left-middle-right"
    }

    mouse {
        // natural-scroll
        // accel-speed -1.0
        // accel-profile "flat"
    }

    tablet {
        // map-to-output "eDP-1"
        map-to-output "HDMI-A-1"
    }

    // disable-power-key-handling
}

output "winit" {
    // scale 2.0
    // scale 3.0
    // transform "flipped-90"
    position x=100 y=200
}

output "eDP-1" {
    // off

    scale 2.0
    // transform "90"
    position x=0 y=0
    // mode "1920x1200"
    // mode "2560x1600@60.002"
    // mode "1280x1024@165.004"
    // mode "1280x720@165.004"
    // mode "640x480"
}

output "HDMI-A-1" {
    // off
    // scale 2.0
    // transform "90"

    // position x=-1920 y=520
    // position x=2560 y=0

    position x=1280 y=-640
    mode "2560x1440@143.912"
    // mode "2560x1440@119.998"
    // mode "1280x720@60.000"
    // mode "2560x1440"
    // mode "3840x2160"

    // position x=2000 y=-640
    // mode "2560x1440@119.998"
}

output "DP-1" {
    // off
    position x=-1920 y=0
    mode "1920x1080@60.000"
    // mode "800x600@72.188"
    // mode "100x100"
}
output "DP-3" {
    position x=-1920 y=0
    mode "1920x1080@60.000"
}

output "DP-2" {
    // mode "3440x1440@99.982"
}

layout {
    focus-ring {
        off
        width 2
        // catppuccin-mocha Sapphire
        active-color 116 199 236 255
        // catppuccin-mocha Surface2
        inactive-color 88 91 112 255
    }

    border {
        // off
        width 2
        // width 128

        // catppuccin-mocha Peach
        active-color 250 179 135 255
        // catppuccin-mocha Surface2
        inactive-color 88 91 112 255
        // catppuccin-mocha Subtext0
        // inactive-color 166 173 200 255
        // inactive-color 60 60 80 255
    }

    preset-column-widths {
        proportion 0.3333333333333333
        proportion 0.5
        proportion 0.66667
        // proportion 0.25
    }

    default-column-width { proportion 0.3333333333333333; }
    // default-column-width { }

    gaps 4

    struts {
        // left 64
        // right 64
        // top 44
        // bottom 64
    }

    // center-focused-column "on-overflow"
    // center-focused-column "always"
}

cursor {
    // xcursor-theme "breeze_cursors"
    // xcursor-theme "arstieonart"
    // xcursor-size 48
}

prefer-no-csd

// spawn-at-startup "alacritty" "-e" "fish"

// screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

hotkey-overlay {
    // skip-at-startup
}

animations {
    // off
    // slowdown 10.0

    workspace-switch {
        // off
        // duration-ms 250
        // curve "ease-out-cubic"
    }

    horizontal-view-movement {
        // off
        // duration-ms 250
        // curve "ease-out-cubic"
    }

    window-open {
        // off
        // duration-ms 150
        // curve "ease-out-expo"
    }

    config-notification-open-close {
        // off
        // duration-ms 250
        // curve "ease-out-cubic"
    }
}

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+T { spawn "alacritty"; }
    // Mod+T { spawn "flatpak" "run" "org.gnome.Prompt.Devel" "--new-window"; }
    // Mod+T { spawn "bash" "-c" "notify-send hello && exec alacritty"; }
    Mod+D { spawn "fuzzel"; }
    Mod+H { spawn "nautilus"; }
    Super+Alt+L { spawn "swaylock"; }

    XF86AudioRaiseVolume { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"; }
    XF86AudioLowerVolume { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"; }

    Mod+Q { close-window; }
    Mod+BackSpace { close-window; }

    Mod+M     { focus-column-left; }
    Mod+N     { focus-window-down; }
    Mod+E     { focus-window-up; }
    Mod+I     { focus-column-right; }
    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+Right { focus-column-right; }

    Mod+Ctrl+M     { move-column-left; }
    Mod+Ctrl+N     { move-window-down; }
    Mod+Ctrl+E     { move-window-up; }
    Mod+Ctrl+I     { move-column-right; }
    Mod+Ctrl+Left  { move-column-left; }
    Mod+Ctrl+Down  { move-window-down; }
    Mod+Ctrl+Up    { move-window-up; }
    Mod+Ctrl+Right { move-column-right; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }

    Mod+Shift+M     { focus-monitor-left; }
    Mod+Shift+N     { focus-monitor-down; }
    Mod+Shift+E     { focus-monitor-up; }
    Mod+Shift+I     { focus-monitor-right; }
    Mod+Shift+Left  { focus-monitor-left; }
    Mod+Shift+Down  { focus-monitor-down; }
    Mod+Shift+Up    { focus-monitor-up; }
    Mod+Shift+Right { focus-monitor-right; }

    Mod+Shift+Ctrl+M     { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+N     { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+E     { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+I     { move-column-to-monitor-right; }
    Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }

    Mod+Shift+Alt+M     { move-workspace-to-monitor-left; }
    Mod+Shift+Alt+N     { move-workspace-to-monitor-down; }
    Mod+Shift+Alt+E     { move-workspace-to-monitor-up; }
    Mod+Shift+Alt+I     { move-workspace-to-monitor-right; }
    Mod+Shift+Alt+Left  { move-workspace-to-monitor-left; }
    Mod+Shift+Alt+Down  { move-workspace-to-monitor-down; }
    Mod+Shift+Alt+Up    { move-workspace-to-monitor-up; }
    Mod+Shift+Alt+Right { move-workspace-to-monitor-right; }

    Mod+L              { focus-workspace-down; }
    Mod+U              { focus-workspace-up; }
    Mod+Page_Down      { focus-workspace-down; }
    Mod+Page_Up        { focus-workspace-up; }
    Mod+Ctrl+L         { move-column-to-workspace-down; }
    Mod+Ctrl+U         { move-column-to-workspace-up; }
    Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
    Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }

    Mod+Shift+L         { move-workspace-down; }
    Mod+Shift+U         { move-workspace-up; }
    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up   { move-workspace-up; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }

    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+R { switch-preset-column-width; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+C { center-column; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Ctrl+Minus { set-column-width "-1"; }
    Mod+Ctrl+Equal { set-column-width "+1"; }

    Mod+Shift+Minus      { set-window-height "-10%"; }
    Mod+Shift+Equal      { set-window-height "+10%"; }
    Mod+Shift+Ctrl+Minus { set-window-height "-1"; }
    Mod+Shift+Ctrl+Equal { set-window-height "+1"; }

    Mod+0            { set-column-width "960"; }
    Mod+Shift+0      { set-window-height "540"; }
    Mod+Alt+0        { set-column-width "1280"; }
    Mod+Shift+Alt+0  { set-window-height "720"; }
    Mod+Ctrl+0       { set-column-width "1920"; }
    Mod+Shift+Ctrl+0 { set-window-height "1080"; }

    Mod+Space       { switch-layout "next"; }
    Mod+Shift+Space { switch-layout "prev"; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Mod+P { screenshot; }

    Mod+Shift+Y { quit; }
    Mod+Shift+P { power-off-monitors; }

    Mod+Shift+Ctrl+T { toggle-debug-tint; }
}
